body {
    margin: 0;
    padding: 0;
    width:100%;
}

.sidebar {
    text-align: center;
    background-color: #add8e6;
    color: #fff;
    width: 16%;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    padding-top: 1%;
}
iframe {
    width: 100%;
    height: 100%;
}
.logo {
    text-align: center;
    margin-bottom: 3%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 1%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1%;
    display: block;
}

nav ul li a:hover {
    background-color: #0056b3;
}

main {
    margin-left: 16%; 
    padding: 1%;
    box-sizing: border-box;
    width: 84%;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 1%;
}

header h1 {
    margin: 0;
}

section {
    background-color: #fff;
    padding: 1%;
    border-radius: 1%;
}
footer {
    margin-left: 16%;
    text-align: center;
}


