/*estilos*/

body {
    margin: 0; 
    padding: 0; 
    display: flex; /* para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100 vh; /* Ajusta la altura del cuerpo para que ocupe toda la pantalla */
    background-color: #f0f0f0; 
}

header {
    text-align: center; /* Centra el texto del encabezado */
    width: 90 %;
    background-color: #ddd; /* Color de fondo opcional */
    padding: 20 px; /* Añade relleno al encabezado */
}



